<%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <h1 class="title is-2">About</h1>
  <p>This application uses data from the League of Legends API to showcase all the items in the game.</p>
  <p>Data Source: <a href="https://ddragon.leagueoflegends.com/cdn/14.13.1/data/en_US/item.json">League of Legends API</a></p>
</div>
