<%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <section class="hero is-primary is-bold">
    <div class="hero-body">
      <div class="container">
        <h1 class="title">
          Welcome to the Lolitemshop!
        </h1>
        <h2 class="subtitle">
          Your ultimate resource for exploring and learning about items in League of Legends
        </h2>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title is-3">About This Site</h2>
      <div class="content">
        <p>This site is a comprehensive database of items in the popular video game "League of Legends". It allows users to search, filter, and sort items based on various attributes such as name, cost (Gold), and tags.</p>
        <p>The goal of this website is to utilize Riot Games public API in order to show all of the items within their video game.</p>
      </div>
    </div>
  </section>

  <section class="section">
    <div class="container">
      <h2 class="title is-3">School Project</h2>
      <div class="content">
      <p>This project was developed solely by me, as part of the "Agile Full Stack Web Development" course. The projectgoal is to demonstrate the practical use and application of full stack web development, including:</p>
      <ul>
        <li>Front-end development with HTML, CSS, and JavaScript</li>
        <li>Back-end development with Ruby on Rails</li>
        <li>Database management and ActiveRecord</li>
        <li>Integration of third-party APIs</li>
        <li>Styling design using Bulma.css</li>
      </ul>
        <p>This project should showcase my ability of utilizing all of the skills mentioned above, and it solely for educational purposes only.</p>
      </div>
    </div>
  </section>
</div>
