<%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload' %>

<div class="container">
  <h1 class="title is-2">Home</h1>
  <p>Welcome to the League of Legends Items Database.</p>
</div>
