<aside class="menu">
  <p class="menu-label">
    Tags
  </p>
  <ul class="menu-list">
    <li><a href="<%= items_path %>">All Items</a></li>
    <% @tags.each do |tag| %>
      <li>
        <a href="<%= items_path(tag: tag.name) %>"><%= tag.name %></a>
      </li>
    <% end %>
  </ul>
</aside>
