<%= stylesheet_link_tag 'bulma.min', media: 'all', 'data-turbolinks-track': 'reload' %>

  <div class="container">
  <h1 class="title is-1 has-text-centered">League of Legends Items</h1>

  <div class="columns is-multiline">
    <% @items.each do |item| %>
      <div class="column is-one-fifth">
        <div class="box">
          <%= link_to item_path(item) do %>
            <%= image_tag item.image, class: "item-image", alt: item.name %>
            <p class="item-name"><%= item.name %></p>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>